<div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
        User name <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" >Edit Profile</a></li>
        <li role="menuitem"><a class="dropdown-item">List of Standups</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" (click)="Logout()">Logout</a></li>
    </ul>
</div>